# code quality
# note that flake8 installs pycodestyle, pyflakes, and mccabe by default, but
# explicit is better than implicit :)
flake8
pycodestyle
pyflakes
mccabe
# flake8-import-order
flake8-bugbear
flake8-noqa
dlint
pylint

# packaging
check_manifest >= 0.48
readme_renderer >= 33.0

# releasing
build
twine
